$background-picture-link: "https://images8.alphacoders.com/976/976814.jpg";
$background-shadown-cover: rgba(0, 0, 0, 0.5);

body {
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
    position: relative;
    height: 100vh;
    background: url($background-picture-link) no-repeat center;
    background-attachment: fixed;
    
    .twitch_container{
        background: $background-shadown-cover;
        min-height: 100vh;
        margin: 0 auto;
        padding: 30px;
        
        .twitch_row{
            /* max-width 避免 瀏覽器橫向卷軸 */
            max-width: 1000px;
            margin: 0 auto;
            text-align: center;
            display: flex;
            /* 適當換行 */
            flex-wrap: wrap;
            /* 平均分配 */
            justify-content: space-around;
            
            .twitch_col{
                width: 280px;
                margin: 10px;
                /*   display: inline-block 才能並排 */
                display: inline-block;
                
                .preview img{
                    width: 100%;
                }
                
                .twitch_bottom{
                    background: $background-shadown-cover;
                    padding: 10px;
                    position: relative;
                    /* 用 flex 排版 */
                    display: flex;
                    /* 高低置中 */
                    align-items: center;
                    
                    .avatar{
                        width: 50px;
                        height: 50px;
                        /* overflow:hidden; 自動隱藏超出的文字或圖片 */
                        overflow: hidden;
                        /* border-radius 圓形 */
                        border-radius: 50%;
                        margin-right: 10px;
                        img{
                            width: 100%;
                        }
                    }

                    .intro{
                        /* absolute 找最接近上層元素是 relative的左上角做為參考點 */
                        color: white;
                        text-align: initial;
                        .channel_name{
                            margin-bottom: 10px;
                            /* 元素中的內容不換行 */
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            width: 180px;
                        }
                    }
                }
            }
            .twitch_col:hover{
                box-shadow: 5px 5px 20px 5px $background-shadown-cover;
                filter: brightness(1.2);
                transition-property: box-shadow, filter;
                transition-duration: 0.2s;
            }
        }
    }
}
/*

#clock-root {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}

#clock-root > div {
border: 1px solid black;
border-radius: 4px;
}

*/
  